<!doctype html>
<html lang="en">

<head>
	<title>Rapid Game Prototyping Platform (RPGP) Editor</title>
	<!-- meta setting -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2, user-scalable=yes">
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="{{& CSS_PATH}}Editor.css" />
	<link rel="stylesheet" type="text/css" href="{{& CSS_PATH}}Calendar.css">
	<link rel="stylesheet" type="text/css" href="{{& LIB_PATH}}msDropDown/dd.css" />
	<link rel="stylesheet" type="text/css" href="{{& LIB_PATH}}BootStrap/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="{{& LIB_PATH}}BootStrap/css/bootstrap-theme.min.css">
	<!--<link type="text/css" rel="stylesheet" href="{{& LIB_PATH}}jQueryUI/jquery-ui-1.10.3.custom.min.css" />-->
	<link type="text/css" rel="stylesheet" href="{{& LIB_PATH}}jQueryUI/jquery-ui.min.css" />
	<link type="text/css" rel="stylesheet" href="{{& LIB_PATH}}ContextMenu/jquery.contextMenu.css" />

	<!-- JS -->
	<!-- jQuery -->
	<!-- <script type="text/javascript"	src="http://code.jquery.com/jquery-1.10.2.js" charset="utf-8"></script> -->
	<script src="{{& LIB_PATH}}jquery-1.11.3.js" charset="utf-8"></script>
	<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->

	<script src="{{& LIB_PATH}}msDropDown/jquery.dd.min.js" type="text/javascript"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="{{& LIB_PATH}}BootStrap/js/bootstrap.min.js"></script>
	<script src="{{& LIB_PATH}}ContextMenu/jquery.contextMenu.js" charset="utf-8"></script>

	<!-- jQuery UI -->
	<script src="{{& LIB_PATH}}jQueryUI/jquery-ui.min.js" charset="utf-8"></script>
	<!--<script src="{{& LIB_PATH}}jQueryUI/jquery-ui-1.10.3.custom.min.js" charset="utf-8"></script>-->
	<!--<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>-->

	<!-- simple side bar -->
	<!--<script src="{{& LIB_PATH}}simple-sidebar/dist/jquery.simplesidebar.min.js"></script>-->
	<script src="{{& LIB_PATH}}simple-sidebar/jquery.simplesidebar.js"></script>

	<!-- source -->
	<!--<script src="{{& JS_PATH}}module/RGPP.system.js" charset="utf-8"></script>-->
	<!--<script src="{{& JS_PATH}}module/RGPP.mw.js" charset="utf-8"></script>-->
	<!--<script src="{{& JS_PATH}}module/RGPP.user.js" charset="utf-8"></script>-->
	<script src="{{& JS_PATH}}RGPP.game.min.js" charset="utf-8"></script>

	<!--[if IE 8 ]> <script src="{{& LIB_PATH}}uuCanvas/uuCanvas.js" charset="utf-8"></script><![endif]-->
	<!--[if IE 7 ]> <script src="{{& LIB_PATH}}uuCanvas/uuCanvas.js" charset="utf-8"></script><![endif]-->

</head>

<body>
	<div id="emulation-window-panel"></div>
</body>

</html>