.MapPanelCanvas {
    background: green;
    width: 640px;
    height: 480px;
}

.test {
    .test2 {
        background: black;
        width: 800px;
        height: 600px;
        text-align: center;
    }
}
